// フォントカラー
$headerTitle: #fff;
$headerListFont: #333;
$headerListHoverFont: #fff;
$mainFont: #333;
$mainHoverFont: blue;
$footerFont: #fff;

// 背景色
$wrapperBg: #7af;
$headerBg: royalblue;
$headerListBg: #efefef;
$headerListHoverBg: #aaa;
$mainBg: #fff;
$articleBg: #efefef;
$footerBg: #333;

// 装飾
$articleBorder: #aaa;
$articleImageBorder: #aaa;