.footer
  .copyright
    = link_to "#", class: "copyright__link" do
      著作権について
    .copyright__text
      ©︎Copyright 2020 Todays CARD
      .balloon
        %p
          当サイトに使用しているカード画像は、カードファイト!! ヴァンガード公式ポータルサイト(http://cf-vanguard.com/)より、 ガイドラインに従って転載しております。 該当画像の再利用(転載・配布等)は禁止しております。 (C)bushiroad All Rights Reserved.
        %p
          当サイトに使用しているカード画像は、フューチャーカード バディファイト公式ポータルサイト(http://fc-buddyfight.com/)より、ガイドラインに従って転載しております。該当画像の再利用（転載・配布等）は禁止しております。(C)bushiroad All Rights Reserved. 
        %p
          また、当ブログのすべてのカード画像の著作権は運営元に帰属します。