* {
  box-sizing: border-box;
}

.wrapper {
  @include heightWidth(100vh, 100vw);
  @include transition();
  @media only screen and ( max-device-width: 480px) {
    max-width: 400px;
  }
  background-color: $wrapperBg;
}

.article {
  @include articleFrame(10px);
  &__top {
    width: 100%;
    display: flex;
    color: $mainFont;
    .article-link {
      color: $mainFont;
      text-decoration: none;
      &:hover {
        color: $mainHoverFont;
        opacity: 0.6;
      }
    }
    &--image {
      @include heightWidth(100px, 100px);
      border: $articleImageBorder solid 3px;
      position: relative;
      overflow: hidden;
      .image {
        @include transition();
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
      }
    }
    &--title {
      width: calc(100% - 100px);
      font-size: 20px;
      padding-left: 5px;
    }
  }
  &__bottom {
    font-size: 15px;
    padding: 5px 0 0 calc(100px + 5px);
    &--category {
      .category {
        display: flex;
        &__name {
          
        }
      }
    }
    .daytime {
      
    }
  }
}

.footer {
  @include heightWidth(50px, 100%);
  @include fontCenter(50px);
  @include positionFixed(1);
  bottom: 0;
  background-color: $footerBg;
  color: $footerFont;
  font-size: 15px;
  .copyright {
    @include verticalHorizontal(center, normal);
    &__link {
      color: $footerFont;
      font-weight: bold;
      margin-right: 20px;
      padding: 0 15px 0;
      cursor: pointer;
    }
    &__text {
      position: relative;
      .balloon {
        display: none;
        width: 510px;
        background-color: $footerBg;
        margin: 0 auto;
        padding: 10px;
        border-radius: 8px;
        position: absolute;
        bottom: 80px;
        right: -150px;
        opacity: 0.9;
        &:after {
          position: absolute;
          bottom: -50px;
          right: 440px;
          margin-left: -5px;
          border: 25px solid transparent;
          border-top-color: $footerBg;
          content: '';
        }
      }
    }
  }
}