* {
  box-sizing: border-box;
}

.wrapper {
  @include heightWidth(100vh, 100vw);
  @media only screen and ( max-device-width: 480px) {
    max-width: 400px;
  }
  background-color: $wrapperBg;
}

.footer {
  @include heightWidth(50px, 100%);
  @include fontCenter(50px);
  @include positionFixed(1);
  bottom: 0;
  background-color: $footerBg;
  color: $footerFont;
  font-size: 15px;
  .copyright {
    &__link {
      color: $footerFont;
      font-weight: bold;
      margin-right: 15px;
      text-decoration: none;
    }
  }
}
