.header {
  @include heightWidth(150px, 100%);
  @include positionFixed(1);
  &__title {
    @include fontCenter(100px);
    @include transition();
    height: 100px;
    font-size: 40px;
    color: $headerTitle;
    background-color: $headerBg;
    .title-link {
      @include transition();
      color: $headerTitle;
      text-decoration: none;
      &:hover {
        font-size: 41px;
      }
    }
  }
  &__list {
    display: flex;
    &--categories {
      @include headerList();
      &:hover {
        @include headerListHover();
      }
    }
    &--date {
      @include headerList($mainBg);
      &:hover {
        @include headerListHover();
      }
    }
  }
}