@mixin positionFixed($z-index) {
  position: fixed;
  z-index: $z-index;
}

@mixin heightWidth($height, $width) {
  height: $height;
  width: $width;
}

@mixin fontCenter($line-height) {
  text-align: center;
  line-height: $line-height;
}

@mixin mainStyle($padding-top) {
  @include heightWidth(calc(100% - 50px), 80%);
  max-width: 600px;
  margin: 0 auto;
  padding-top: $padding-top;
  background-color: $mainBg;
  overflow: scroll;
}

@mixin articleFrame($padding) {
  margin-bottom: 15px;
  padding: $padding;
  background-color: $articleBg;
  border: $articleBorder solid 2px;
  border-radius: 3px;
}

@mixin transition($all:0.3s) {
  transition: all $all ease 0s;
}

@mixin verticalHorizontal($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}